# This file is used for testing and development. See
# https://caremad.io/posts/2013/07/setup-vs-requirement/

# Install this package
-e .

# Install testing / development requirements
coverage==6.3.2
coveralls==3.3.1
flake8==4.0.1
pytest-cov==3.0.0
pytest==7.1.1
